---
apiVersion: v1
kind: Service
metadata:
  name: adopter-service
  namespace: microservices
  labels:
    app: adopter-service
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: adopter-service
